{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
{% endblock %} {% block content %}

<section class="logo-container">
  <div class="cat-container">
    <img
      src="https://tse1.mm.bing.net/th?id=OIP.kQqUjXajKTJrN9ziSu9lHgHaHa&pid=Api&P=0"
      alt="student"
    />
  </div>
  <img
    src="https://tse1.mm.bing.net/th?id=OIP.kQqUjXajKTJrN9ziSu9lHgHaHa&pid=Api&P=0"
    alt="Text reads: student"
  />
</section>

{% endblock %}
